/**---Universal Styles---*/
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

nav {
    width: 100%;
    position: fixed;
    top: 0;
}

.modal-backdrop {
    position: unset !important;
}

h6 {
    font-size: 14px;
}

#display {
    text-align: center;
    margin-top: 15px;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/**---Footer Styles---*/
footer {
    background-color: black;
    color: white;
    width: 100vw;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 15px;
}